#board {
  height: 780px;
  width: 1320px;
  display: grid;
  grid-template-columns: 2fr repeat(9, 1fr) 2fr;
  grid-template-rows: 2fr repeat(9, 1fr) 2fr;
  background-color: lightgrey;
  margin-top: 100px;
}
#center {
  display: grid;
  grid-column: 2/11;
  grid-row: 2/11;
  background-color: white;
}
#column-right {
  display: flex;
  flex-direction: column;
  grid-column: 11;
  grid-row: 2/11;
}
#column-left {
  display: flex;
  flex-direction: column-reverse;
  grid-column: 1;
  grid-row: 2/11;
}
#row-top {
  display: flex;
  grid-column: 2/11;
  grid-row: 1;
}
#row-bottom {
  display: flex;
  flex-direction: row-reverse;
  grid-column: 2/11;
  grid-row: 11;
}
#corner-left-top {
  grid-column: 1;
  grid-row: 1;
}
#corner-left-bottom {
  grid-column: 1;
  grid-row: 11;
}
#corner-right-top {
  grid-column: 11;
  grid-row: 1;
}
#corner-right-bottom {
  grid-column: 11;
  grid-row: 11;
}
#row-top > div {
  flex: auto;
}
#row-bottom > div {
  flex: auto;
}
#column-left > div {
  flex: auto;
}
#column-right > div {
  flex: auto;
}
div {
  height: 1fr;
  border: solid 2px black;
}
img {
  height: 50px;
  width: 50px;
}

body {
  text-transform: capitalize;
}
.blue {
  background-color: blue;
  color: white;
}
.green {
  background-color: green;
  color: white;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
  color: white;
}
.indigo {
  background-color: indigo;
  color: white;
}
.light-blue {
  background-color: lightskyblue;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.black {
  background-color: black;
  color: white;
}
.white {
  background-color: white;
}
.gold {
  background-color: gold;
}
.dark-goldenrod {
  background-color: darkgoldenrod;
}
.beige {
  background-color: beige;
}
.fixed-top {
  background-color: aliceblue;
}
